body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
    font-size: 50%;
}

.header {
    background-color: #7edade;
    height: 90px;
}
.header-logo {
    color: #112f66;
    font-size: 300%;
}

.main {
    background-color: azure;
    opacity: 0.1px;
    height: 600px;
}

.footer {
    background-color: #6495ed;
    height: 270px;
}