body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
    font-size: 50%;
}

.header {
    background-color: #7edade;
    height: 100px;
}

img {
    height: 100px;
    width: 25%;
}

.main {
    background-color: #e4eded;
    height: 600px;
}

.footer {
    background-color: #6495ed;
    height: 270px;
}