body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
    font-size: 50%;
}

.header {
    background-color: #7edade;
    height: 100px;
}
.header-logo {
    height: 90px;
    width: 25%;   
}
img {
    height: 100px;
    width: 75%;
}

.main {
    background-color: #f0ffff;
    height: 600px;
}

.footer {
    background-color: #6495ed;
    height: 270px;
}